<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PasswordGenerator</title>
    <link th:href="@{/styles/PasswordGenerator/styles.css}" rel="stylesheet" />

</head>

<body>
    <div class="container">
        <div class="header">
            <a href="/" class="header-back">Back</a>
            <h2>Password generator</h2>
        </div>

        <label for="password_length">Length</span>
            <input type="number" value="10" id="password_length">
            <br />
            <input type="checkbox" checked id="lower_case_cb" />
            <label for="lower_case_cb">Include lowercase</label>
            <br />
            <input type="checkbox" checked id="upper_case_cb" />
            <label for="upper_case_cb">Include uppercase</label>
            <br />
            <input type="checkbox" checked id="numbers_cb" />
            <label for="numbers_cb">Include numbers</label>
            <br />
            <input type="checkbox" id="symbols_cb" />
            <label for="symbols_cb">Include custom symbols </label>
            <input type="text" value="!@#$%^&*" id="custom_symbols">
            <br />
            <label for="result">Result</span>
                <input type="text" id="result"><button th:onclick="generatePassword()">Generate</button>
                <br />
                <span class="silenced">
                    This site not sending any data anywhere.
                    You&nbsp;can&nbsp;see&nbsp;code&nbsp;of&nbsp;this&nbsp;project&nbsp;at&nbsp;<a
                        href="https://github.com/iliya132/utils_for_dev">GitHub</a>
                </span>
    </div>
    <script type="text/javascript" th:src="@{/js/PasswordGenerator/main.js}">
    </script>
</body>

</html>